{% extends 'base.html' %}
{% block content %}
<h2>Listado de Clientes</h2>
<a href="{{ url_for('nuevo_cliente') }}" class="btn btn-primary mb-3">Agregar Cliente</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>direccion</th>
            <th>telefono</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.email }}</td>
            <td>
                <a href="{{ url_for('eliminar_cliente', id=cliente.id) }}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}