{% extends 'base.html' %}
{% block content %}
<h2>Listado de Clientes</h2>

<!-- Formulario de filtro -->
<form method="get" action="{{ url_for('listar_Clientes') }}" class="mb-3">
    <div class="row">
        <div class="col-md-3">
            <input type="text" name="Nombre" class="form-control" value="{{ filtro_nombre if filtro_nombre is not none else '' }}" placeholder="Nombre" value="{{ request.args.get('Nombre') }}">
        </div>
        <div class="col-md-3">
            <input type="text" name="Direccion" class="form-control" value="{{ filtro_nombre if filtro_nombre is not none else '' }}" placeholder="Direccion" value="{{ request.args.get('Direccion') }}">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </div>
</form>

<a href="{{ url_for('crear_Cliente') }}" class="btn btn-primary mb-3">Agregar Cliente</a>
<a href="{{ url_for('index') }}" class="btn btn-secondary mb-3">Regresar al Inicio</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if clientes %}
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.ClienteID }}</td>
                <td>{{ cliente.Nombre }}</td>
                <td>{{ cliente.Direccion }}</td>
                <td>{{ cliente.Telefono }}</td>
                <td>{{ cliente.Email }}</td>
                <td>
                    <form method="post" action="{{ url_for('eliminar_Cliente', ClienteID=cliente.ClienteID) }}" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este cliente?');">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                    <a href="{{ url_for('actualizar_Clientes', ClienteID=cliente.ClienteID) }}" class="btn btn-secondary btn-sm">Actualizar</a>
                    
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">No se encontraron clientes.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}